<div class="form-group">
    <label class="col-sm-2 control-label" for="title">
        Title
    </label>
    <div class="col-sm-10">
        <input class="form-control" id="title" ng-model="track.title" placeholder="Track Title Here" type="text"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="year">
        Release Year
    </label>
    <div class="col-sm-10">
        <input class="form-control" id="year" ng-model="track.releaseYear" placeholder="When was the track released?" type="text"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="director">
        Director
    </label>
    <div class="col-sm-10">
        <input class="form-control" id="director" ng-model="track.director" placeholder="Who directed the track?" type="text"/>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label" for="plot">
        Track Genre
    </label>
    <div class="col-sm-10">
        <input class="form-control" id="plot" ng-model="track.genre" placeholder="track genre here" type="text"/>
    </div>
</div>
<div class="form-group">
    <div class="col-sm-offset-2 col-sm-10">
        <input class="btn btn-primary" type="submit" value="Save"/>
    </div>
</div>